@import url('https://css.gg/info.css');
@import url('https://css.gg/pin.css');
@import url('https://css.gg/menu-grid-o.css');
@import url('https://css.gg/carousel.css');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* *********************** */
/* this is the title styling */
/* *********************** */


.mainheading{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10%;
    text-align: left;
    font: normal normal bold 50px/71px Microsoft PhagsPa;
    color: #2B0565;
}


.all{
    padding: 20px;
}
.menu{
    margin: 30px ;
    text-align: center;
    font: normal normal bold 30px Microsoft PhagsPa;
    color: #2B0565;
}
.con  h3{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    position: relative;
    font: normal normal bold 20px Microsoft PhagsPa;
    color: #2B0565;
}
.con  h3 i{
    margin-right: 10px;
}
.con  p{
    margin-left: 30px;
    margin-bottom: 20px;
    font: 16px Microsoft PhagsPa;
    color: #070220;
}



.hotel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.category{
    display: flex;
    align-items: center;
    margin: 20px 0px 10px 10px;
    font: bold 20px Microsoft PhagsPa;
    color: #2B0565;
}

.category i{
    margin-right: 10px;
}

.hotelcard{
    max-width: 350px;
    min-width: 300px;
    width: 90vw;
    /* height: 400px; */
    margin-bottom: 50px;
    box-shadow: 0px 3px 6px #00000050;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    color: #2b0565;
    text-decoration: none;
    outline: none;
}
.hotelcard img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}
.hotelcard .body{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hotelcard h3{
    margin:20px;
}
.hotelcard h4{
    margin:24px;
}

.hotelcard .tag{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
    font-size: 12px;
    padding-left: 15px;
}
.hotelcard .tag a{
    /* max-width: 190px; */
    color: #fff;
    margin: 3px;
    background: #2b0565;
    padding: 2px 8px;
    border-radius: 6px;
    text-decoration: none;
    outline: none;
}


